#vkgroup div, #vkgroup iframe { height: 300px!important; }
.nav-tabs:before, .nav-tabs:after, .nav-pills:before, .nav-pills:after {
    content: "";
    display: table;
    line-height: 0;
}
.nav-tabs {
    border-bottom: 1px solid #DDDDDD;
}
.nav-tabs:after, .nav-pills:after {
    clear: both;
}

.nav {
    list-style: none outside none;
    margin-bottom: 18px;
    margin-left: 0;
}
.nav-tabs > li {
    margin-bottom: -1px;
}

.nav-tabs > li, .nav-pills > li {
    float: left;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}
.nav > li > a {
    display: block;
}

.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}

.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.nav-tabs > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}